body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
}

header {
    background-color: darkgreen;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.calculator-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#about {
    text-align: justify;
}

#about h2 {
    text-align: center;
}


#hasil {
    margin-top: 20px;
}

#bmi-value, #bmi-category {
    font-weight: bold;
}

footer {
    background-color: darkgreen;
    color:white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .calculator-container {
        width: 90%;
    }
}
